<!doctype html>
<html lang="pt-BR">
	<head>
		<meta charset="iso-8859-1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<title>Altamira - Almoxarifado</title>
		<link rel='stylesheet' type='text/css' href='styles/main.css'>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="scripts/stomp.js"></script>
		<script>
			var app = angular.module('myApp', []);

			app.config(function($httpProvider) {
		      $httpProvider.defaults.withCredentials = true;
		    });

			app.service('ActiveMQ', function() {

				var client = Stomp.client( "ws://localhost:61614/stomp", "v11.stomp" );

				client.connect( "", "",
					function() {
					    client.subscribe("jms.topic.test",
					    	function( message ) {
					    	    alert( message );
					        }, 
							{ priority: 9 } 
					    );
					 
						
					}
				);
				this.send = function(topic, msg) {
					client.send(topic, { priority: 9 }, msg);
				}

			});

			// servico de inventario
		    app.service('Inventario', ['$http', 'ActiveMQ', function ($http, ActiveMQ) {
		    	this.getAll = function () {
		            return $http.get('http://192.168.0.212/materialInventarios');
		        }
		    	this.get = function (tipo, numero) {
		            return $http.get('http://192.168.0.212/materialInventarios/search/findByIdTipoAndIdNumero?tipo=' + tipo + '&numero=' + numero);
		        }
		        this.medidas = function (tipo, numero) {
		        	return $http.get('http://192.168.0.212/materialInventarioMedidas/search/findByIdTipoAndIdNumero?tipo=' + tipo + '&numero=' + numero);
		        }
		        this.post = function(lote) {
		        	//$http.defaults.headers.common.Authorization = 'Basic ' + 'YWRtaW46YWRtaW4='; 
		        	//return $http.post('http://localhost:8161/api/message/ECO?type=queue&body=' + JSON.stringify(lote));
		        	return ActiveMQ.send("jms.topic.test", JSON.stringify(lote));
		        }
		    }]);

			// servico de materiais
		    app.service('Material', function ($http) {
		    	this.getAll = function () {
		            return $http.get('http://192.168.0.212/materials');
		        }
		    	this.get = function (codigo) {
		            return $http.get('http://192.168.0.212/materials/' + codigo);
		        }
		    });

			app.controller('myCtrl', ['$scope', '$document', 'Inventario', 'Material', function($scope, $document, Inventario, Material) {
				$scope.lote = {};
				$scope.lotes = [];
				$scope.barcode = "";
				$scope.quantidade = "";
				$scope.valid = false;

				$scope.erro = "";

				// variaveis para debug do teclado
				/*
				$scope.keys = [];
				$scope.key_code = 0;
				$scope.key_press = 0;
				*/

			    $document.bind("keypress", function(event) {
			        
			    	// usado para debug
			        /*
			        console.debug(event)

					$scope.key_code = String.fromCharCode(event.charCode);
					$scope.key_press = event.keyCode;
					*/

					$scope.msg = "";

					if (event.which == 13 && $scope.valid) {
						if (Number($scope.quantidade)) {
							
							$scope.lote.quantidade = parseInt($scope.quantidade, 10);

							$scope.lotes.reverse().push($scope.lote);

		                    if ($scope.lotes.length > 20) {
		                        $scope.lotes = $scope.lotes.slice($scope.lotes.length - 10);
		                    }

		                    $scope.lotes = $scope.lotes.reverse();

							Inventario.post($scope.lote).then(function(response) {
								//console.log("Baixando estoque");
								//alert('Estoque baixado com sucesso.');
							});
					
						} else {
							$scope.msg = "Quantidade invalida.";
						}
						$scope.barcode = "";
						$scope.lote = {};
						$scope.quantidade = "";
						$scope.valid = false;
					} else if ((event.which == 43 || event.which == 13)) {
						if ($scope.barcode.trim().length && !$scope.valid) {

							$scope.barcode = $scope.barcode.trim().replace(" ", "").replace("-", "").replace(".", "").replace(" ", "").replace("-", "").replace(".", "");

							var tipo = $scope.barcode.substr(0, 2);
							var numero = $scope.barcode.substr(2, $scope.barcode.length - 4);
							var digito = $scope.barcode.substr($scope.barcode.length - 2, 2);

							if (tipo && numero && $scope.barcode.trim().length <= 16) {
								Inventario.get(tipo, numero).then(function (response) {
									if (response.data._embedded) {
										$scope.lote = response.data._embedded.materialInventarios[0];
										Material.get($scope.lote.material).then(function (response) {
											$scope.lote.material = response.data;
											Inventario.medidas(tipo, numero).then(function (response) {
												$scope.lote.material.medidas = response.data._embedded.materialInventarioMedidas;
												$scope.valid = true;
											});
										});
									} else {
										$scope.msg = 'Lote não foi encontrado !';
										$scope.barcode = "";
										$scope.valid = false;
									}
								});
							} else {
								$scope.msg = 'Codigo de barras "' + $scope.barcode.substr(1, 16) + '" invalido, verifique.';
								$scope.barcode = "";
								$scope.valid = false;
							}
							
						} else {
							$scope.barcode = "";
							$scope.keys = [];
							$scope.quantidade = "";
						}
					} else if (event.charCode == 42 || event.charCode == 47) {
						$scope.lote = {};
						$scope.barcode = "";
						$scope.keys = [];
						$scope.quantidade = "";
						$scope.valid = false;
					} else if (!$scope.valid && (event.charCode > 47 && event.charCode < 58) || (event.charCode == 45)) {
						$scope.barcode += String.fromCharCode(event.charCode);	
					} else if ($scope.valid) {
						$scope.quantidade += String.fromCharCode(event.charCode);	
					}

					// debug
					//$scope.keys.push({"keyCode": event.keyCode, "charCode": String.fromCharCode(event.charCode)});

			    	$scope.$apply();

			    	event.preventDefault();

			    });

			}]);

			
		</script>
	</head>
	<body ng-app="myApp" ng-controller="myCtrl">
		<h1 ng-if="msg.length" class="erro">{{ msg }}</h1>
		<article>
			<!--<h2>Movimentação de Estoque</h2>-->
			<h1 ng-if="valid">{{ lote.material.codigo }}<br>{{ lote.material.descricao }}</h1>
			<ul>
				<li ng-repeat="medida in lote.material.medidas">{{ medida.id.medida }} {{ medida.valor }} {{ medida.unidade }}</li>
			</ul>
			<h1 ng-if="!valid">Digite um código de barras : <b>{{ barcode }}</b></h1>
			<h1 ng-if="valid">Digite a quantidade: {{ quantidade }}</h1>
		</article>
		<article ng-if="lotes.length">
			<h2>Historico de Movimentação de Estoque do Almoxarifado</h2>
			<ul>
				<li ng-repeat="item in lotes">{{ item.material.codigo }} {{ item.material.descricao }}<br><span>quantidade: {{ item.quantidade }}</span></li>
			</ul>
		</article>
		<!-- tags de debug do teclado -->
		<!--
		<h3>Teclado:</h3>
		Tecla pressionada : <span>{{ key_press }}</span>
		<br />
		Codigo da tecla : <span>{{ key_code }}</span>
		<p>Quantidade: {{ quantidade }}</p>
		<p>Codigo de barras: [{{ barcode }}]</p>
		<p>Eventos do teclado:</p>
		<p ng-repeat="key in keys">{{ key.keyCode }} {{ key.charCode }}</p>
		-->
	</body>
</html>